* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: khaki;
    color: black;
    padding: 10px 50px 10px 10px;
    align-items: center;

    grid-area: h;
}
ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
header ul li {
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
}
header ul li:hover {
    background-color: lightseagreen;
    border-radius: 10px;
    color: white;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px; 

    grid-area: f;
}

aside {
    grid-area: s;
}
aside ul{
    list-style: none;
}
main {
    grid-area: m;
    color: aliceblue;
    background-color: gold;
}
.v {
    display: grid;
    grid-template-areas:
    'h h'
    's m'
    'f f';
    height: 100vh;

    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
}
main div {
  background-color: #333;
  color: white;
  width: fit-content;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
main div :hover{
  background-color: #555;  
}
main{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 15px;
}
.a {
    display: inline block;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 20px 40px;
}
