@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=DynaPuff:wght@400..700&family=Honk:MORF@15&family=Shrikhand&display=swap');
body{
    font-family:Honk;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 234, 206);
}
.container{
    /* background-color: aqua; */
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 80%;
    padding: 10px;
}
.container div{
    background-color: rgb(74, 248, 70);
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(34, 4, 167);
}
h2{
    color:rgb(34, 4, 167);
    background-color: bisque;
    border-radius: 10px;
}
ul{
   list-style: none;
   padding: 0;
}
li{
    border: 2px solid rgb(34, 4, 167);
    border-radius: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;

}
button{
    border: none;
    border-radius: 4px;
    background-color: rgb(217, 255, 0);
    /* color: white */
    font-weight: bold;
    transition: 0.2s;

}
button:active{
    background-color: rgb(234, 255, 0);
    transform: scale(0.9);
}